{% extends 'base.html.twig' %}

{% block body %}
{{ dump(formations) }}

{% for formation in formations %}
    
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ formation.titre }}</h5>
    <p class="card-text">{{ formation.description }}.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endfor %}

{% endblock %}
